.breed-select {
    width: 400px;
    margin-bottom: 30px;
}

.cat-info {
    margin-right: 200px;
    display: flex;
    position: relative;
}

.error {
    position: absolute;
    top: 0;
    right: 0;
}